[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
fyrst = "CcyByKGzRDK17icyNGAgdUN4q7WzbL1BPi4BNzqytyMP"

[programs.devnet]
fyrst = "CcyByKGzRDK17icyNGAgdUN4q7WzbL1BPi4BNzqytyMP"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
